* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  .flex {
    color: #858080;
    padding-bottom: 3rem;
    padding-top: 5rem;
    text-align: center;
    font-size: 4.5rem;
  }
  h1 {
    color: black;
  }
  p {
    color: #343434;
  }
  
  button {
    cursor: pointer;
    outline: 0;
    background: transparent;
  }
  
  .header1 {
    background-image: linear-gradient(
        rgba(41, 39, 39, 0.623),
        rgba(41, 39, 39, 0.247)
      ),
      url(https://cdn.pixabay.com/photo/2021/01/21/15/54/books-5937716_960_720.jpg);
    min-height: 50vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
  }
  
  .div {
    margin-top: -5%;
    margin-bottom: 20%;
    flex-direction: column;
    text-align: center;
    margin-right: 50%;
  }
  .div h1 {
    font-size: 4rem;
    padding-bottom: 0.4rem;
    font-family: "Zen Antique", serif;
  }
  
  .hero-btns button {
    border: 3.5px solid #fff;
    border-radius: 2rem;
    padding: 0.8rem 2rem;
    text-transform: uppercase;
    margin: 5px;
  }
  .btn-trans {
    color: #fff;
    transition: 0.5s ease-in-out;
    padding-left: 100px;
    margin-left: 100px;
  }
  .btn-trans:hover {
    background: #fff;
    color: #343434;
  }
  .btn-white {
    background: #fff;
    color: #343434;
    transition: 0.5s ease-in-out;
    padding-left: 100px;
    margin-left: 100px;
  }
  .btn-white:hover {
    background: transparent;
    color: #fff;
  }
  .h-header {
    font-size: 50%;
    size: 50%;
    color: #fff;
    padding-left: 100px;
    margin-left: 100px;
  }
  .p-header {
    color: #fff;
    padding-left: 100px;
    margin-left: 100px;
  }
  .d-block {
    border: #139279 solid 5px;
  }
  
  .btn-b {
    display: inline-block;
    margin-top: 1rem;
    padding: 0.5rem;
    padding-left: 1rem;
    border: 1px solid #139279;
  
    border-color: #139279;
    border-radius: 2px;
    box-shadow: 0.4rem 0.4rem 0 rgba(73, 69, 69, 0.2);
    color: #139279;
    cursor: pointer;
    color: #212529;
    text-align: center;
    border: 1px solid transparent;
    padding: 5px;
    border-radius: .25rem;
  }
  
  .btn-b:hover {
    background: #139279;
    color: #fff;
  }
  
  .btn-v {
    display: inline-block;
    margin-top: 5px;
    box-shadow: 0.2rem 0.2rem 0.2rem rgba(73, 69, 69, 0.116); 
    cursor: pointer;
    color: #212529;
    text-align: center;
    border: 1px solid transparent;
    padding: 0 9px;
    border-radius: .25rem;
  }
  
  .btn-v:hover {
    background: #139279;
    color: #fff;
  }
  